In [17]:
import numpy as np
import pandas as pd

## Task 1

In [18]:
data=np.random.rand(4,4)
df=pd.DataFrame(data)
df

          0         1         2         3
0  0.952598  0.074482  0.240818  0.707346
1  0.005865  0.880198  0.046184  0.489859
2  0.018271  0.627045  0.784442  0.337538
3  0.481485  0.471862  0.894081  0.759667

## Task 2

In [19]:
new_columns = ['Random value 1',  'Random value 2',  'Random value 3',  'Random value 4']
df.columns= new_columns
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.952598        0.074482        0.240818        0.707346
1        0.005865        0.880198        0.046184        0.489859
2        0.018271        0.627045        0.784442        0.337538
3        0.481485        0.471862        0.894081        0.759667

## Task 3

In [20]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.364555        0.513397        0.491381        0.573603
std          0.450199        0.337555        0.411920        0.195999
min          0.005865        0.074482        0.046184        0.337538
25%          0.015169        0.372517        0.192159        0.451779
50%          0.249878        0.549454        0.512630        0.598603
75%          0.599264        0.690333        0.811852        0.720427
max          0.952598        0.880198        0.894081        0.759667

## Task 4

#### Check for null values

In [21]:
df.isnull().any()

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

#### Data type of columns

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

## Task 5

#### Location method

In [23]:
df.loc[:,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.074482        0.240818
1        0.880198        0.046184
2        0.627045        0.784442
3        0.471862        0.894081

#### Index Location method

In [24]:
df.iloc[:,1:3]

   Random value 2  Random value 3
0        0.074482        0.240818
1        0.880198        0.046184
2        0.627045        0.784442
3        0.471862        0.894081